.window-body
  &_description
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    &_header-title
      margin: 7px 10px 15px 10px

    &_footer-title
      font-style: italic
      margin: 15px 10px

  &_time-rush-info
    margin: 0 10px

  &_questions
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    app-icon-button
      margin: 0 5px 5px 5px



