.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly

  &_fieldset
    margin-right: 20px

  &_treeview
    display: inherit
    flex-direction: column
    align-items: center
    justify-content: center

    summary
      font-style: italic

    &_label
      display: flex
      justify-content: space-between

    &_scores
      width: 200px
      max-width: 200px
      height: 100px
      max-height: 100px
      overflow: auto

    &_button
      width: 100%
      margin-top: 10px

