<div class="host">
  <div class="window window_question">
    <app-window-title-bar iconPath="question.png" title="Question!"></app-window-title-bar>
    <div class="window-body window_question_body">
      <ng-container *ngIf="!this.showQuestion">
        <div class="window_question_body_loading">
          <label class="window_question_body_loading_title">Loading your question, please hold on a moment...</label>
          <progress class="window_question_body_loading_progress" max="100" [value]="this.loadingProgressBar"></progress>
        </div>
      </ng-container>

      <ng-container *ngIf="this.showQuestion">
        <div class="window_question_body_loaded">
          <label class="window_question_body_loaded_title" [innerHTML]="this.question"></label>
          <label class="window_question_body_loaded_points">[{{this.questionPoints}} point(s) for this question]</label>
          <div class="window_question_body_loaded_list">
            <ng-container *ngFor="let answer of this.answers">
              <button [disabled]="this.selectedAnswer"
                      [ngClass]="'window_question_body_loaded_list_option-button ' + (answer === this.selectedAnswer ? 'window_question_body_loaded_list_option-button_bold' : '')"
                      (click)="this.onClickAnswer(answer)">{{ this.getAnswerLabel(answer) }}</button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="this.selectedAnswer">
    <div class="window window_check-answer">
      <app-window-title-bar iconPath="check-question.png"
                            title="Check your answer!"></app-window-title-bar>
      <div class="window-body window_check-answer_body">
        <div class="window_check-answer_body_image">
          <img *ngIf="!this.confirmedAnswer"
            ngSrc="assets/icons/alert.png"
            alt="" height="40" width="40"/>
          <img *ngIf="this.confirmedAnswer"
               ngSrc="assets/icons/loading.png"
               alt="" height="40" width="40"/>
        </div>
        <div class="window_check-answer_body_question">
          <ng-container *ngIf="!this.confirmedAnswer">
            <label class="window_check-answer_body_question_title">Are you sure about that?</label>
            <div class="window_check-answer_body_question_buttons">
              <app-icon-button iconPath="yes.png" title="Yes!"
                               (onButtonClick)="this.confirmAnswer()"></app-icon-button>
              <app-icon-button iconPath="no.png" title="No..."
                               (onButtonClick)="this.validateAnswer()"></app-icon-button>
            </div>
          </ng-container>
          <ng-container *ngIf="this.confirmedAnswer">
            <label class="window_check-answer_body_question_title">Ok, checking your answer...</label>
            <progress [max]="this.progressBarMax" [value]="this.answerProgressBar"></progress>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
