<div class="window">
  <app-window-title-bar iconPath="assets/icons/critical.png" title="Oh no!"></app-window-title-bar>
  <div class="window-body">
    <div class="window-body_title">
      <label>That was not the right answer! The answer was &nbsp;<b>[{{this.correctAnswer}}]</b></label>
      <label>Come back in 3 hours for another question!</label>
    </div>

    <app-icon-button iconPath="assets/icons/home.png" title="Return to home"
                     (onButtonClick)="this.returnHome()"></app-icon-button>
  </div>
</div>
