.window-body
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  &_title
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 10px

    label
      text-align: center
      margin: 5px

  &_buttons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    app-icon-button
      margin: 3px

  &_clipboard-text
    color: green
    font-weight: bold
    margin: 5px
