.window-body
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  &_modes
    display: inherit
    flex-direction: row
    align-items: center
    justify-content: center

    app-icon-text-button
      margin: 5px

  app-icon-button
    margin: 5px
