<div class="window">
  <app-window-title-bar iconPath="question.png" title="Pick your game mode!"></app-window-title-bar>
  <div class="window-body">
    <label>Pick your game mode!</label>

    <div class="window-body_modes">
      <ng-container *ngFor="let mode of this.gameModes">
        <app-icon-text-button
          [iconPath]="mode.title + '.png'"
          [title]="mode.title.toUpperCase()"
          [description]="mode.description"
          (onButtonClick)="this.router.navigateByUrl('quiz-' + mode.title)"
        ></app-icon-text-button>
      </ng-container>
    </div>

    <app-icon-button iconPath="home.png" title="Return home"
                     (onButtonClick)="this.router.navigateByUrl(PathsEnum.HOME)"></app-icon-button>
  </div>
</div>
