<div class="window">
  <app-window-title-bar iconPath="success.png" title="You did it!"></app-window-title-bar>
  <div class="window-body">
    <div class="window-body_title">
      <label><b>Congratulations!</b></label>
      <label>You earned {{this.questionScore}} points!</label>
      <label>Come back in 3 hours for another question!</label>
    </div>

    <app-icon-button iconPath="home.png" title="Return to home"
                     (onButtonClick)="this.returnHome()"></app-icon-button>
  </div>
</div>
