<div class="window">
  <app-window-title-bar iconPath="success.png" title="You did it!"></app-window-title-bar>
  <div class="window-body">
    <div class="window-body_title">
      <label><b>Congratulations!</b></label>
      <label>You earned {{this.questionScore}} points!</label>
      <label>Come back in 3 hours for another question!</label>
    </div>
    <div class="window-body_buttons">
      <app-icon-button iconPath="copy.png" title="Share result" [copy-clipboard]="this.clipboardText"
                       (onButtonClick)="this.showClipboardMessage()"></app-icon-button>
      <app-icon-button iconPath="home.png" title="Return to home"
                       (onButtonClick)="this.returnHome()"></app-icon-button>
    </div>
    <div *ngIf="this.displayClipboardMessage">
      <label class="window-body_clipboard-text">Question result copied to clipboard!</label>
    </div>
  </div>
</div>
